<div class="header">
    <a href="/" class="logo"><img src="../../assets/crown.svg"/></a>
    <div class="options">
        <a href="/shop" class="option">SHOP</a>
        <a href="/contact" class="option">CONTACT</a>
        <a href="/auth" class="option">SIGNIN</a>
        <a><mat-icon [matBadge]="cartCount" aria-hidden="false" 
            aria-label="Example home icon" (click)="toggleCartDropdown()">shopping_bag</mat-icon></a>
        <!-- <mat-icon [matBadge]="cartCount" aria-hidden="false" aria-label="Example home icon" style="padding-left: 5px">dark_mode</mat-icon>
        <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle> -->
        <app-cart-dropdown *ngIf="!cartHidden"></app-cart-dropdown>
    </div>
</div>